<!DOCTYPE html>
<head>
</head>
<body>
   
	<h1>HI</h1>
	<form>
		<div>
        <label for= "userID">User ID: </label>
        <input type="text" id="userID" name="userID"
        required>
    </div>
	    <button type="submit" name="send">Send</button>
		<button type="submit" name ="request">Request</button>
	</form>
</body>
</html>
