<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: black;
}

* {
  box-sizing: border-box;
}

/* Add padding to containers */
.container {
  padding: 16px;
  background-color: white;
}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for the submit button 
.registerbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}*/

.registerbtn:hover {
  opacity: 1;
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
  background-color: #f1f1f1;
  text-align: center;
}
</style>
</head>
<body style="background-color:#9693c2;">

<form action="/register" method="POST" style="width: 450px;" >
  <div class="container">
    <h1>Register</h1>
    <p>Please fill in this form to create an account.</p>
    <hr>

    <div>
      <label for="fname">First Name</label>
      <input type="text" id="fname" name="fname" required>
    </div>
    <div>
      <label for="lname">Last Name</label>
      <input type="text" id="lname" name="lname" required>
    </div>
    <div>
      <label for="university">University</label>
      <input type="text" id="university" name="university" required>
    </div>
   
    <div>
      <label for="email">Email</label>
      <input type="text" id="email" name="email" required>
    </div>
    <div>
      <label for="userID">User ID</label>
      <input type="text" id="userID" name="userID" required>
    </div>
    <div>
      <label for="password">Password</label>
      <input type="password" id="password" name="password" required>
    </div>
   
    <div>
      <label for="fallMealName">Fall Meal Plan</label>
      <select id="fallMealName" name="fallMealName">
        <option value="300-flex-plus">300 Flex PLUS</option>
        <option value="300-flex">300 Flex</option>
        <option value="225-flex-plus">225 Flex PLUS</option>
        <option value="225-flex">225 Flex</option>
      </select>
      <!-- <input type="text" id="fallMealName" name="fallMealName" required> -->
    </div>
    <br>
    <div>
      <label for="springMealName">Spring Meal Plan</label>
      <select id="springMealName" name="springMealName">
        <option value="300-flex-plus">300 Flex PLUS</option>
        <option value="300-flex">300 Flex</option>
        <option value="225-flex-plus">225 Flex PLUS</option>
        <option value="225-flex">225 Flex</option>
      </select>
      <!-- <input type="text" id="springMealName" name="springMealName" required> -->
    </div>
    <br>
    <div>
      <label for="campusCash">Campus Cash Amount: </label>
      <input type="text" id="campusCash" name="campusCash" required>
    </div>
    <button type="submit">Register</button>
  </form>
  </div>
  
</form>

</body>
</html>





