body{
  background-color:#827ec2;
}
/* The sidebar menu */
.sidebar {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
}

/* The sidebar links */
.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidebar a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* The button used to open the sidebar */
.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #444;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s; /* If you want a transition effect */
  padding: 20px;
}

.allAccountInfo {
  margin-top: 20px;
  /* margin-left: 20px;
  margin-right: 20px; */
  height: 200px;
  display: table;
  width: 100%; /*Optional*/
  table-layout: fixed; /*Optional*/
  border-spacing: 30px; /*Optional*/
  background-color: #071049;
}

.allAccountInfo1 {
  margin-top: 20px;
  /* margin-left: 20px;
  margin-right: 20px; */
  height: 200px;
  display: table;
  width: 100%; /*Optional*/
  table-layout: fixed; /*Optional*/
  border-spacing: 30px; /*Optional*/
  background-color: transparent;
}

.donate {
  border-radius: 25px;

  display: table-cell;
  margin-top: 20px;
  margin-left: 50px;
  background-color:#071049;
  width: 86px;
  height: 480px;
}

.request {
  border-radius: 25px;
  display: table-cell;
  margin-top: 20px;
  margin-left: 350px;
  background-color:#071049;
  width: 86px;
  height: 410px;
}

.send {
  border-radius: 25px;
  display: table-cell;
  margin-top: 20px;
  margin-left: 350px;
  background-color:#071049;
  width: 86px;
  height: 410px;
}

.request form {
  border-radius: 25px;
  padding-top: 20px;
  margin-left: 20px;
  padding-left: 20px;
  padding-right: 20px;
  width: 90%;
  height: 450px;
  background-color: #b4b7c8;
}

.donate form {
  border-radius: 25px;
  padding-top: 20px;
  margin-left: 20px;
  padding-left: 20px;
  padding-right: 20px;
  width: 90%;
  height: 450px;
  background-color: #b4b7c8;
}

.send form {
  border-radius: 25px;
  padding-top: 20px;
  margin-left: 20px;
  padding-left: 20px;
  padding-right: 20px;
  width: 90%;
  height: 450px;
  background-color: #b4b7c8;

}


.Column {
  border-radius: 15px;
  text-align: center;
  font-size: 30px;
  display: table-cell;
  background-color:#e9e8f9; /*Optional*/
}








